<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleADMobBannerID</key>
	<string>ca-app-pub-4388758752901980/1407041123</string>
	<key>GoogleADMobBannerTestID</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>GoogleADMobAppID</key>
	<string>ca-app-pub-4388758752901980~7535010360</string>
</dict>
</plist>
